<div class="container">

  <%= stylesheet_link_tag 'git.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <form>
    <div class="form-group">
      <label for="search_repositories">Search Repositories</label>
      <input type="text" class="form-control" name="search_repositories" id="search_repositories"  placeholder="Device">
      <input type="hidden"  name="user_id" id="user_id" value="<%= current_user.id %>">
    </div>
  </form>
  <div id="repos_pagination"  style="display: none">
    <!--append html here-->
  </div>
  <table class="table">
    <thead id="git_table_head">
      <tr>
        <th scope="col">Favorite</th>
        <th scope="col">ID</th>
        <th scope="col">Repository Name</th>
        <th scope="col">Url</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="git_table_body">
    </tbody>
  </table>


  <%= javascript_include_tag 'github/github', defer: 'defer' %>
  <%= javascript_include_tag 'pagination', defer: 'defer' %>
</div>

