- if resource.errors.any?
  #error_explanation
    %ul.list-group.list-group-flush
      - resource.errors.full_messages.each do |message|
        %li.list-group-item
          .container.alert.alert-danger=message
